.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tab{
  display: inline-block;
  margin-left: 40px;
}

.termContent{
  width: 0px;
  text-align: center;
  
}
.TermTitle{
  margin:0px 0px 0px 21%;
}

.TopTermText{
  margin: auto auto auto 20%;
}

.right{
  margin: auto 20% auto 20%;
}

.TopTerm{
  width:96%;
  height:50px;
  background-color: white;
  margin:1% 2% 1% 2%;
  line-height: 300%;
}

.terms{
  width:100%;
  margin:10px 0px 0px 10px;
  background-color: darkgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border{
  border-radius:5px;
  border-style: solid;
  border-width: 1px;
}

.container{
  width:100%;
  height:auto;
  border-color: darkgray;
  background-color: whitesmoke;
  margin: 1% 1% 1% 1%;
}

.search-bar{
  height:30px;
  width:40%;
  
}

.search-checkbox{
  margin:1% 0% 0% 1%;
}

.query-bar{
  margin: 1% 0% 0% 1%;
}
.context-bar{
  margin: 2% 0% 0% 5%;
}

.searchButton{
  height:33px;
  width:80px;
  margin: 1% 0% 1% 1%;
  background-color:lightcoral;
  border-color: white;
  color:black;
  text-align: center;
}

.example-box{
  background-color: white;
  width:80%;
  margin:1% 10% 1% 10%;
}
.filter-input{
  background-color: lightgray;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}
.filter_list{
  margin:0;
}
.filter-input-content{
  margin-left: 5px;
}
.filter-input-button{
  margin-bottom: 5px;
}

.results-grid-container{
  display: grid;
  width: 100%;

  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
  grid-template-columns: 50% 50%;
  margin-bottom: 10px;
  margin-left: 1%;
}

.topk1{
  grid-column: 1;
}
.topk2{
  grid-column: 2;
}
